{% extends 'base_multilang_pagination.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
<!--        position: relative;-->
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
<body>
    <div class="album py-5" style="padding-left:280px; background-color:white">
      <div class="container ">
          <div class="row">
          {% for post in page_obj %}
          <div class="col-4">
            <div class="card  ">
              <img height="300px" width="100%" src='{{ post.imageURL }}' alt="">
              <div class="card-body ">
                  <p class="card-text">{{ post.title }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">{{ post.publish_date }}</small>
                  <div class="btn-group">
                        <p align="right"><a href="{% url 'blog:blog_detail' post.id  %}" type="button" class="btn btn-sm btn-outline-secondary">More</a></p>
                  </div>
                </div>
                    <h6>Comments...</h6>
                  {% if not post.comments.all %}
                    No Comments Yet... <a href="{% url 'blog:post_comment' post.pk %}">Add One</a>
                  {% else  %}
                    {% for comment in post.comments.all %}
                        <strong>
                            {{ comment.name }} - {{ comment.date_added }}
                        </strong>
                        <br>
                        {{ comment.body }}
                    <br>
                    {% endfor %}
                  {% if post.comments.all %}
                        <a href="{% url 'blog:post_comment' post.pk %}">Add More</a>
                      {% endif %}
                  {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
              <br>
              <p></p>
              <br>
          <p align="right"><a href="{% url 'blog:add_blog' %}" type="button" class="btn btn-md btn-outline-secondary">Add</a></p>
          <br/><br/>
          </div>
      </div>
    </div>
</body>
{% endblock %}



